* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('bg.jpg') no-repeat center/cover;
}

/* Toast Popup */
#toast {
    position: fixed;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
    background: #222;
    color: white;
    padding: 12px 25px;
    border-radius: 10px;
    font-size: 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.4);
    opacity: 0;
    transition: 0.4s ease;
    z-index: 10;
}

#toast.show {
    bottom: 30px;
    opacity: 1;
}

/* Glass Card */
.auth-box {
    width: 360px;
    padding: 30px;
    background-color: rgba(0, 50, 45, 0.8);
    border-radius: 15px;
    animation: fadeIn 0.7s ease;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

/* Tabs */
.tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.tab {
    width: 50%;
    padding: 10px;
    background: transparent;
    border: none;
    font-size: 18px;
    color: #ddd;
    cursor: pointer;
}

.tab.active {
    color: #fff;
    font-weight: bold;
    border-bottom: 3px solid #fff;
}

/* Forms */
.form {
    display: none;
    flex-direction: column;
}

.form.active {
    display: flex;
}

form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

/* Inputs */
input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 2px;
    border: none;
    outline: none;
    font-size: 15px;
    background: none;
    border-bottom: 2px solid rgba(255,255,255,0.2);
    color: #fff;
}

input::placeholder {
    color: #eee;
}

/* Button */
.btn {
    margin-top: 15px;
    padding: 12px;
    background: #ffffffcc;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #fff;
}

/* Errors */
.error {
    text-align: center;
    color: rgb(255, 90, 90);
    font-size: 14px;
}

#forgotPass {
    text-align: center;
    font-size: 14px;
    text-decoration: underline;
    color: rgb(255, 0, 0);
    font-weight: 400;
    display: none;
    cursor: pointer;
}

.btn-resendOTP{
    text-align: center;
    font-size: 14px;
    text-decoration: underline;
    color: rgb(255, 0, 0);
    font-weight: 400;
    cursor: pointer;
    background: none;
    border: none;
}


html,
body {
    height: 100%;
    overflow: hidden;
}

@media (max-width: 450px) {
    body {
        justify-content: flex-start;
        align-items: flex-start;
        margin: 0;
    }

    html {
        overflow: hidden;
    }


    .auth-box {
        width: 100%;
        height: 100dvh;
        overflow-y: hidden;
        padding: 40px 30px;
        border-radius: 0;
        background-color: rgba(0, 50, 45, 0.9);
    }


    input {
        font-size: 16px;
    }

    .btn {
        font-size: 18px;
        padding: 14px;
    }

    .tabs {
        margin-top: 20px;
    }
}

.password-box {
    position: relative;
    width: 100%;
}

.password-box input {
    width: 100%;
}

.password-box .eye {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
    font-size: 14px;
    color: white;
}

